.pr-lead-dashboard {
    height: 43vh;
    width: 100%;
}

.pr-box-dashboard {
    height: 19vh;
    margin: 7px 0px;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.today_lead {
    background-color: #FFBA96;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inprocess {
    background-color: #85D4E5;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pending-dashboard {
    background-color: #8F9AF8;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.completed-dashboard {
    background-color: #9FE886;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-dashbord-box-text img {
    width: 70px;
}

.quotation-box-dashboard {
    height: 40vh;
    margin: 7px 0px;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.quot-chart {
    width: 100%;
    height: 19vh;
    position: relative;
}

#myChart3 {
    position: absolute;
    top: -50px;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.bottom-qot-list {
    width: 100%;
    height: 19vh;
    margin-bottom: 10px;
}

.circl-quot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 3px;
}

.quots-cir {
    background-color: #7FA9FB;
}

.inv-circ {
    background-color: #266386;
}

.proforma-cir {
    background-color: #a78f0d;
}

.create-lead-list {
    width: 50%;
}

.create-lead-forms {
    text-align: center;
}

.lead-inp-con {
    width: 80%;
    margin: 10px auto;
    padding: 10px 0px;
    border: 2px solid #282828;
    border-radius: 15px;

}

.lead-inp-con img {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
}

.lead-inp-con input,
.lead-inp-con select {
    width: 90%;
    height: 100%;
    padding: 0px 3px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
}

.create-lead-forms button {
    margin: 20px;
}

#create_data_lead {
    display: none;
}

.lable-li {
    white-space: nowrap;
}

.checkbox-li label {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
    margin: 0 3px;
}

.leadAssignPerson option {
    padding: 10px !important;
    background-color: #fff;
    color: #282828;
}

.leadAssignPerson option:hover,
.leadAssignPerson option:focus {
    background-color: #FFBA96 !important;
}


/* ============customer details=========== */
.customer-searchbar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.cust-inp {
    width: 90%;
    height: 100%;
}

.customer-searchbar input {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 0px 10px;
}

.searchBtn {
    background-color: #FFE6AF;
    width: 10%;
    border-radius: 0 15px 15px 0;
    height: 100% !important;

}

.searchBtn img {
    object-fit: contain;
    padding: 12px;
    height: 100%;
    width: 100%;
}

.total-customer span {
    font-size: 30px;
}

.total-customer {
    font-size: 20px !important;
}

.sortbtn {
    border: 2px solid #282828;
    padding: 10px;
    border-radius: 10px;
}

.top-customer-btns {
    width: 100%;
    height: 25vh;
    /* background-color: #266386; */
}

.second-custom-img {
    width: 40px;
}

.custom-btn {
    width: 100%;
    height: 12vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.following-up {
    background: #91F291;
}

.onwords-btn {
    background: rgba(245, 95, 95, 0.47)
}

.cust-lead {
    background: rgba(245, 95, 95, 0.47);
}

.cust-delay {
    background: #eea929;
}

.cust-adv {
    background: #F1F7B5;
}

.cust-product {
    background: #63e0e9;
}

.cust-b2b {
    background: #9EA1D4;
}

.under-construction {
    background: #F099D2;
}

.cust-instal {
    background: #16F0B6;
}

.cust-interst {
    background: #9EA1D4;
}

.cust-other {
    background: #9EA1D4;
}

.two-btn-cust {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blockdot-drop{
    width: 60%;
    height: 35px;
    background: #fff;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 133, 255, 0.5); */
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #310379
  }