.pr-lead-dashboard {
    width: 100%;
    height: 43vh;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#absentSearch{
    display: none;
}

.pr-box-dashboard {
    height: 19vh;
    margin: 7px 0px;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.today_lead {
    background-color: #FFBA96;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inprocess {
    background-color: #85D4E5;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pending-dashboard {
    background-color: #8F9AF8;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.completed-dashboard {
    background-color: #9FE886;
    background-image: url(../images/today-lead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-dashbord-box-text img {
    width: 70px;
}

.quotation-box-dashboard {
    height: 40vh;
    margin: 7px 0px;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.quot-chart {
    width: 100%;
    height: 19vh;
    position: relative;
}

#myChart3,
#myChart4 {
    position: absolute;
    top: -50px;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.bottom-qot-list {
    width: 100%;
    height: 19vh;
    margin-bottom: 10px;
}

.circl-quot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 3px;
}

.quots-cir {
    background-color: #7FA9FB;
}

.inv-circ {
    background-color: #266386;
}

.proforma-cir {
    background-color: #a78f0d;
}

.create-lead-list {
    width: 50%;
}

.create-lead-forms {
    text-align: center;
}

.lead-inp-con {
    width: 80%;
    margin: 10px auto;
    padding: 10px 0px;
    border: 2px solid #282828;
    border-radius: 15px;

}

.lead-inp-con img {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
}

.lead-inp-con input,
.lead-inp-con select {
    width: 90%;
    height: 100%;
    padding: 0px 3px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
}

.create-lead-forms button {
    margin: 20px;
}

#create_data_lead {
    display: none;
}

.lable-li {
    white-space: nowrap;
}

.checkbox-li label {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
    margin: 0 3px;
}

.leadAssignPerson option {
    padding: 10px !important;
    background-color: #fff;
    color: #282828;
}

.leadAssignPerson option:hover,
.leadAssignPerson option:focus {
    background-color: #FFBA96 !important;
}


/* ============customer details=========== */
.customer-searchbar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.cust-inp {
    width: 90%;
    height: 100%;
}

.customer-searchbar input {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 0px 10px;
}

.searchBtn {
    background-color: #FFE6AF;
    width: 10%;
    border-radius: 0 15px 15px 0;
    height: 100% !important;

}

.searchBtn img {
    object-fit: contain;
    padding: 12px;
    height: 100%;
    width: 100%;
}

.total-customer span {
    font-size: 30px;
}

.total-customer {
    font-size: 20px !important;
}

.sortbtn {
    border: 2px solid #282828;
    padding: 10px;
    border-radius: 10px;
}

.top-customer-btns {
    width: 100%;
    height: 25vh;
    /* background-color: #266386; */
}

.second-custom-img {
    width: 40px;
}

.custom-btn {
    width: 100%;
    height: 12vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.following-up {
    background: #91F291;
}

.onwords-btn {
    background: rgba(245, 95, 95, 0.47)
}

.cust-lead {
    background: rgba(245, 95, 95, 0.47);
}

.cust-delay {
    background: #eea929;
}

.cust-adv {
    background: #F1F7B5;
}

.cust-product {
    background: #63e0e9;
}

.cust-b2b {
    background: #9EA1D4;
}

.under-construction {
    background: #F099D2;
}

.cust-instal {
    background: #16F0B6;
}

.cust-interst {
    background: #9EA1D4;
}

.cust-other {
    background: #9EA1D4;
}

.two-btn-cust {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blockdot-drop {
    width: 60%;
    height: 35px;
    background: #fff;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 133, 255, 0.5); */
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #310379
}

.blockdot-drop button {
    background: transparent;
    outline: none;
    border: none;
}

.btn-staff {
    width: 100%;
    height: 35px;
    background: #fff;
    box-shadow: 1px 1px 4px 1px rgba(0, 133, 255, 0.5);
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #310379
}

.btn-staff button {
    background: transparent;
    outline: none;
    border: none;
}


/* ================pr points workdone======= */
.forms-con h5 {
    padding: 10px 0px;
}

.point-work-inp {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

.point-work-inp input {
    width: 50%;
    padding: 5px;
    margin: 4px 0px;
    background-color: #FBE6B2;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 30px;
    text-align: center;

}

.point-work-inp input::-webkit-outer-spin-button,
.point-work-inp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.point-work-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.point-work-view :nth-child(1) {
    font-size: 20px;
}

.point-work-view :nth-child(2) {
    font-size: 30px;
}

.forms-cons {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* =========financial top============ */
.financial-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;

}

.sort-month {
    border: 2px solid #282828;
    padding: 10px;
    border-radius: 10px;

}

.sort-month input {
    background: transparent;
    outline: none;
    border: none;
}

.financial-nav {
    background-color: #fff;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.financial-nav h5 {
    padding: 10px;
    height: 100%;
    margin: 5px;
    border-radius: 10px;
}

.financial-nav h5:hover {
    background-color: #FBD87F;
    cursor: pointer;
}

.active-financial {
    background-color: #FBD87F;
}

.edit-del-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit-del-btn button {
    background: none;
    outline: none;
    border: none;
}

.edit-del-btn img {
    width: 30px;
}

.exp-inpbox,
.inc-inpbox {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
}

.fin-con {
    position: relative;
    width: 100%;
    height: 100%;
}

#IncomeBtn,
#inc-box,
#income-table,
#exp-box {
    display: none;
}


.fin {
    cursor: pointer;
}

.exp-enter-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    position: relative;
}

.fin-enter-inp p {
    font-size: 20px;
}

.fin-enter-inp input {
    border: 2px solid #282828;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 0px 5px;
}


/* =============coo home page========= */
.stock-details {
    width: 100%;
    height: 41vh;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 7px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.eyeview {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.install-attendance input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;

}

.downloadBtns {
    cursor: pointer;
}


/* ==================rnd pages start====== */
.inprocess-con {
    margin-top: 5%;
}

.form-check {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

}

.form-check input {
    width: 20%;
}

.form-check lable {
    font-size: 18px;
    color: #686565;
    /* font-weight: 500; */
}

.form-inp-con button {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
}

.form-inp-con select {
    width: 100%;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    padding: 0px 20px;
}

.form-inp-con select option {
    font-size: 18px !important;
    color: #686565 !important;
}

.create-gate {
    text-align: center;
}

#createWTA {
    display: none;
}

.create-products {
    margin-top: 20%;
}

#taskList {
    width: 80%;
    margin: 20px auto;
}

.task-li {
    width: 100%;
    padding: 10px;
    background-color: #eea929;
    height: 20px;
}

.cust-inps {
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #282828;
    padding: 0px 5px;
    border-radius: 7px;
}

.cust-inps input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
}

.check-table-con {
    width: 100%;
    height: 87vh;
    /* background-color: #266386; */
    position: relative;
}

.check-bottom-con {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

#presentBtn {
    display: none;
}

#absentList-table {
    display: none;
}

#printabsentBtn {
    display: none;
}

#attendanceDetials {
    display: none;
}

.back-button {
    display: none;
}

.bottom-fix {
    position: fixed;
    bottom: 10%;
    width: 80%;
    margin: 0 auto;
}


.sort-date {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.date-sort {
    background-color: #FBD87F;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-sort form input {
    width: 200px;
    background: transparent;
    outline: none;
    height: 40px;
    border: none;
    padding: 0px 20px;
}

#datetime1 label {
    font-size: 18px;
    font-weight: 600;
}

#proformaTable,
#invoiceTable {
    display: none;
}

/* ==================rnd pages End====== */

/* ===============super admin================ */

.onyx-con {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    height: 25vh;
    margin: 10px 0px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}

.onyx-li {
    width: 80%;
    margin: 0 auto;
}

.onyx-tittle {
    margin: 0 auto;
    width: 80%;
}

.onyx-inp-con {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: #EAE7E7;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* padding: 0px 5px; */
}

.onyx-inp-con input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 10px;
}

.onyx-inp-con input::placeholder {
    font-size: 20px;
    font-weight: 500;
}

.send-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.send-btns img {
    width: 40px;
}

.sendBtn {
    background-color: #FFAB36;
    border-radius: 0px 15px 15px 0px;
    opacity: 0.75;
    height: 100%;
    padding: 10px;

}

.lead-dashboard {
    background-color: #eea929;
    background-blend-mode: lighten;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lead-dashboard::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/swipe-vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lead-dashboardbox {
    z-index: 1;
    color: #fff;
    text-align: center;
    border-right: 2px solid #fff;
    padding: 0px 10px;
}

.lead-dashboardbox:last-child {
    border: none;
}

.lead-dashboardbox h3,
.lead-dashboardbox h2 {
    color: #fff;
}

/* ==========access page ========= */
.access-page-con {
    width: 80%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.staff-access-form-con {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.form-inp-access {
    width: 100%;
    margin: 8px auto;
    border-radius: 15px;
    border: 3px solid #918f8f;
    background: none;
    outline: none;
    margin: 20px 0px;
}

.form-inp-access input,
.form-inp-access select {
    padding: 10px 2px;
    width: 80%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}

.form-inp-access img {
    width: 20px;
    height: 20px;
}

/* =============lead info========= */
.personal-info {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.dfh {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.box1 fieldset {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.in {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 10px;
    text-align: left;
}

.left {
    font-weight: bold;
    font-size: 16px;
}

.right {
    font-style: italic;
    font-size: 16px;
}

.box-2 {

    border-radius: 15px;
    padding: 10px;
    width: 95%;
    margin: 20px auto;
}

.note-wrapper {
    display: flex;
}

.note-form {
    width: 15%;
    min-width: 300px;
    background-color: #fff;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.note-data {
    display: flex;
    overflow-x: scroll;
    width: 85%;
}

.note-data::-webkit-scrollbar {
    display: none;
}

.note {
    flex: 0 0 auto;
    width: 30%;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #FBD87F;
    border-radius: 10px;
    color: #282828;
}

.note::-webkit-scrollbar {
    display: none;
}

.note .top {
    display: flex;
    justify-content: space-between;
}

.notepad {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
}

.not-texr {
    border: 0;
    border-bottom: 1px solid #FBD87F;
    background-color: transparent;
}

.not-texr:focus {
    border: none !important;
}

.notes-submit {
    background-color: #FBD87F;
    color: #282828;
    border: 0;
    height: 30px;
    width: 100%;
    border-radius: 20px;
}

.box-3 {
    width: 20%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rsn {
    background-color: transparent;
    border: 2px solid #FBD87F;
    padding: 10px;
    border-radius: 10px;

}

.dr {
    background: #FBD87F;
    padding: 10px;
    color: #282828;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
}


@media screen and (max-width:1000px) {
    .note-wrapper {
        display: flex;
        flex-direction: column;
    }

    .n1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .note-form {
        width: 100%;
        min-width: 200px;
        background-color: white;
        display: flex;
    }

    .notepad {
        width: 90%;
    }

    .notes-submit {
        background-color: #FBD87F;
        color: white;
        border: none;
        height: 30px;
        width: 100%;
        border-radius: 20px;
    }

    .note-data {
        width: 100%;
    }

    .note {
        flex: 0 0 auto;
        width: 100%;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        overflow-y: scroll;
        background-color: #FBD87F;
        color: #282828;
    }

    .note .top {
        display: flex;
        justify-content: space-between;
    }

    .box-3 {
        width: 100%;
        padding: 10px 25px;
    }
}


/* ==================== */

.quotmobilenumber {
    border: none;
    outline: none;
    background: transparent;
}

.main-con-admin {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-con-admin>div {
    background-color: #ffff;
    padding: 20px 10px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0px;
}

.main-con-admin>div>form>input,
.main-con-admin>div>form>select {
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #282828;
    border-radius: 5px;
}

.main-con-admin>div>form>label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

#employeofweekTable,
#progressTable {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-con-admin>div>form>p {
    font-weight: 600;
}

#absent-date,#absentmyForm{
    display: none;
}
#myForm input,#absentmyForm input{
    padding: 4px 8px;
    background: transparent;
    border-radius: 5px;
}
.installation-imgs{
    margin-top: 20%;
}
