{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/pr.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- chart js start  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- chart js end -->
    <title>adminconsole</title>
</head>

<body>
    <div class="main-con ">
        <div class="nav-con " onclick="navcon()">
            <nav class="px-2">
                <div class="container-fluid p-0 m-0">
                    <div class="navlistlogo">
                        <div class="left-nav-list">
                            <div class="menu-icon">
                                <img src="{% static 'images/nav-icon/small-icon.png' %}" alt="small_Icon"
                                    class="small-logo">
                                <img src="{% static 'images/close.png' %}" alt="menu_Icon" class="close-icons">
                            </div>
                        </div>
                        <div class="right-nav-list">
                            <img src="{% static 'images/nav-icon/main-log.svg' %}" alt="small_Icon" class="main-logo">
                        </div>
                    </div>
                    <div class="user-profile">
                        <li class="user-visual">
                            <div class="left-nav-list"> <img src="{% static 'images/menu.png' %}" alt="menu_Icon"
                                    class="menu-icons"></div>
                            <div class="right-nav-list">
                                <div class="user-profiles">
                                    <div class="user-img">
                                        {%if profile%}
                                        <img src="{{profile}}" alt="user-profile">
                                        {%else%}
                                        <img src="{% static 'images/user-profile.svg' %}" alt="user-profile">
                                        {%endif%}
                                    </div>
                                    <div class="emply-id">
                                        <span>{{name}}</span><br>
                                        <span>{% if dep == "WEB" %}
                                            <p>Web Developer</p>
                                            {% elif dep == "APP" %}
                                            <p>App developer</p>
                                            {% elif dep == "MEDIA" %}
                                            <p>Graphic designer</p>
                                            {% elif dep == "PR" %}
                                            <p>PR</p>
                                            {% elif dep == "RND" %}
                                            <p>R&D</p>
                                            {% else %}
                                            <p>Admin</p>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                    <ul id="nav-main-con">
                        <li class="navlistmenu navlistmenu-active" onclick="location.href='/ithome'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/dashboard.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>dashboard</h5>
                            </div>
                        </li>
                        <li class="navlistmenu  " onclick="location.href='/installationadd'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/installation.svg' %}" alt="installation_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Installation Add</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/leave_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/forms-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Leave Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/late_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/late-icons.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Late Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/approval'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/approval.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Approval</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/suggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/suggestion.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Suggestion</h5>
                            </div>
                        </li>
                        <li class="navlistmenu " onclick="location.href='/create_lead'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create_lead.svg' %}" alt="create_lead">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Lead</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/customer_details'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/customer-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Customer Details</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/points_workdone'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/point-workdone.svg' %}" alt="point-work_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Workdone</h5>
                            </div>
                        </li>
                        <li class="navlistmenu  " onclick="location.href='/financial'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/customer-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Financial</h5>
                            </div>
                        </li>

                    </ul>
                    <div class="logout" onclick="location.href=''">
                        <li class="navlistmenu">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/logout-icon.svg' %}" alt="dashboard_Icon"
                                        class="logout-icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Logout</h5>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="right-con " id="rightCon" onclick="rightcon()">

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="checkin-con">
                            <h6>Today</h6>
                            <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                    <span>Check In</span><br>
                                    <span>{{ todaycheckin }}</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ todayprogress }}%"
                                         aria-valuenow="{{ todayprogress }}" aria-valuemin="0" aria-valuemax="100"></div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <span>Check Out</span><br>
                                    <span>{{ todaycheckout }}</span>
                                </div>
                            </div>
                            <h6>Yesterday</h6>
                            <div class="row d-flex align-items-center mt-1">
                                <div class="col-md-4">
                                    <span>Check In</span><br>
                                    <span>{{ yescheckin }}</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="progress">
                                        <div id="progress-bar" role="progressbar" style="width: {{ yesprogress }}%;"
                                         aria-valuenow="{{ yesprogress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                                <div class="col-md-4">
                                    <span>Check Out</span><br>
                                    <span>{{ yescheckout }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <div class="refreshment-con">
                            <div class="refreshment-over-con" id="refresh-over">

                                <div class="row">
                                    <div class="col-md-8 p-4">
                                        <h4>Wait until Refreshment portal opens</h4>
                                        <p>
                                            Morning Refreshment and Food Time -(09:00 Am - 10:45 Am)
                                        </p>
                                        <p>Evening Refreshment Time -(2:00 PM -3:30 PM)</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="emoj">
                                            <img src="{% static 'images/coffee-animated-emoji.gif' %}" alt="coffee-emoj" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="main-refresh">
                                <div class="col-md-8">
                                    <form action="/refreshment/" method="post">
                                        {% csrf_token %}
                                        <div class="d-flex align-items-center">
                                            <div class="refresh-order">
                                                <h4>Refreshment</h4>
                                                <div id="tea-coffee-milk">
                                                    <div class="refresh-list">
                                                        <label for="tea" class="row">
                                                            <div class="col-md-10">
                                                                <p class="refresh-text"><img
                                                                        src="{% static 'images/tea-icon.png' %}"
                                                                        alt="tea-icon" class="refresh-icon">Tea</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" class="check-order" id="tea"
                                                                    name="refreshment" value="tea">
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="refresh-list">
                                                        <label for="coffee" class="row">
                                                            <div class="col-md-10">
                                                                <p class="refresh-text"> <img
                                                                        src="{% static 'images/tea-icon.png' %}"
                                                                        alt="tea-icon" class="refresh-icon">Coffee</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" class="check-order" id="coffee"
                                                                    name="refreshment" value="coffee">
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="refresh-list">
                                                        <label for="milk" class="row">
                                                            <div class="col-md-10">
                                                                <p class="refresh-text"> <img
                                                                        src="{% static 'images/tea-icon.png' %}"
                                                                        alt="tea-icon" class="refresh-icon">Milk</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" class="check-order" id="milk"
                                                                    name="refreshment" value="milk">
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div id="tea-coffee">
                                                    <div class="refresh-list">
                                                        <label for="lunch" class="row">
                                                            <div class="col-md-10">
                                                                <p class="refresh-text"> <img
                                                                        src="{% static 'images/tea-icon.png' %}"
                                                                        alt="tea-icon" class="refresh-icon">Lunch</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" class="check-order" id="lunch"
                                                                    name="refreshment" value="Lunch">
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="order-button">
                                                <button type="submit" id="ordBtn"
                                                    class="primary-button px-2">Order</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <div class="slide-carouse">
                                        <div id="carouselExampleControls" class="carousel slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="{% static 'images/tea-slider-img.png' %}" alt="tea-img"
                                                        class="caro-img ">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'images/coffee-slider-img.png' %}"
                                                        alt="coffee-img" class="caro-img">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'images/tea-slider-img.png' %}" alt="tea-img"
                                                        class="caro-img">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev d-none" type="button"
                                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            </button>
                                            <button class="carousel-control-next d-none" type="button"
                                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="notification-con p-2">
                            <div class=" carousel-container1">
                                <h4>Installation</h4>
                                <table class="table">
                                    <thead>
                                        <tr class="leave-table-head">
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Place</th>
                                            <th>Installation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for num,data in alllist %}
                                        <tr class="table-body-li my-3">
                                            <td>{{data.date}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.place}}</td>
                                            <td>{{data.work}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="leavebalance-con p-2">
                            <h4>Installation Leave Details</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="leave-chart">
                                        <canvas id="myChart2" width="100" height="100"></canvas>
                                        <div class="leave-precent">
                                            <span class="top-num">17</span>
                                            <span class="dived-sympl">/</span>
                                            <span class="bottom-num">24</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-9 d-flex align-items-center">
                                            <p class="circl me-1 sick-circl"></p>
                                            <p class="leave-text">Sick Leave</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="leave-text leave-count">13</p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 d-flex align-items-center">
                                            <p class="circl me-1 casual-circl"></p>
                                            <p class="leave-text">Casual Leave</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="leave-text leave-count">24</p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="stock-details p-2" onclick="location.href='/inventorymanagement/'">
                            <h4>Stocks</h4>
                            <div class="carousel-container2">
                                <table class="table">
                                    <thead>
                                        <tr class="leave-table-head">
                                            <th>Name</th>
                                            <th>No of stocks</th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody>
                                        {% for x in inventoryall %}
                                        <tr class="table-body-li my-3">
                                            <td>{{x.name}}</td>
                                            <td>{{x.stock}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="quotation-box-dashboard">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4> Attendance</h4>
                                <h2 class="install-attendance"><span><input type="date"></span><span>12-Sep</span></h2>
                            </div>
                            <div class="quot-chart">
                                <canvas id="myChart4"></canvas>
                            </div>

                            <div class="bottom-quot-list">
                                <div class="d-flex align-items-center justify-content-between mx-3">
                                    <div class="d-flex align-items-center">
                                        <p class="circl-quot quots-cir"></p>
                                        <h5>Present</h5>
                                    </div>
                                    <div class="quot-count">
                                        <h5>54</h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mx-3">
                                    <div class="d-flex align-items-center">
                                        <p class="circl-quot inv-circ"></p>
                                        <h5>Absent</h5>
                                    </div>
                                    <div class="quot-count">
                                        <h5>6</h5>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- js script  start -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <!-- js script  end -->

        <script>
            // break
            var xValues = [];
            var yValues = [45, 37, 18];
            var barColors = [
                "#7FA9FB",
                "#266386",
                "#a78f0d",
            ];
            new Chart("myChart4", {
                type: "doughnut",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues,
                        borderColor: 'transparent'
                    }]
                },
                options: {
                    cutoutPercentage: 80,
                    title: {
                        display: true,
                        text: ""
                    }
                }
            });
            function animateTable1() {
            const $table1 = $('.carousel-container1 table');
            const $tableBody1 = $table1.find('tbody');
            const rowHeight1 = $table1.find('tr:first').outerHeight();
            // Animate the table rows
            function moveRows1() {
                $tableBody1.animate({ marginTop: -rowHeight1 }, 1000, 'linear', function () {
                 
                    $tableBody1.find('tr:first').appendTo($tableBody1);
                    $tableBody1.css('marginTop', 0);
                });
            }

            setInterval(moveRows1, 3000); 
        }
  
        $(document).ready(function () {
            animateTable1();
        });
    
        function animateTable2() {
            const $table2 = $('.carousel-container2 table');
            const $tableBody2 = $table2.find('tbody');
            const rowHeight2 = $table2.find('tr:first').outerHeight();
         
            function moveRows2() {
                $tableBody2.animate({ marginTop: -rowHeight2 }, 1000, 'linear', function () {
                 
                    $tableBody2.find('tr:first').appendTo($tableBody2);
                    $tableBody2.css('marginTop', 0);
                });
            }
       
            setInterval(moveRows2, 5000);
        }
        
        $(document).ready(function () {
            animateTable2();
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
    
        $(document).ready(function () {
            var yesprogress = {{yesprogress}};
            var progressBar = document.getElementById("progress-bar");
            progressBar.style.width = yesprogress + "%"; 
            if (yesprogress < 100) {
                progressBar.style.backgroundColor = "red";
            } else {
                progressBar.style.backgroundColor = "#e0ae09";
            }
        });
    
            $(document).ready(function () {
    
                function updateOptions() {
                    var currentDate = new Date();
                    var currentHour = currentDate.getHours();
                    var currentMinutes = currentDate.getMinutes();
                  
                    var showTeaCoffeeMilk = (currentHour === 9 && currentMinutes >= 0) || (currentHour === 10 && currentMinutes <= 45);
                    var showTeaCoffee = (currentHour === 14 && currentMinutes >= 0) || (currentHour === 15 && currentMinutes <= 30);
    
                    if (showTeaCoffeeMilk) {
                        $("#tea-coffee-milk").show();
                        $("#tea-coffee").show();
                    } else if (showTeaCoffee) {
                        $("#tea-coffee-milk").show();
                        $("#tea-coffee").hide();
                    } else {
    
                        $("#tea-coffee-milk").hide();
                        $("#tea-coffee").hide();
                        $("#main-refresh").hide();
                        $('#refresh-over').show();
                        //if no time for refreshment
                    }
                }
                updateOptions();
                setInterval(updateOptions, 1000);
    
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#refreshment-form").on("submit", function (event) {
                    event.preventDefault();
    
                    var formData = $(this).serialize();
                    $.ajax({
                        type: "POST",
                        url: "/refreshment/",
                        data: formData,
                        success: function (response) {
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
    
                            console.log("AJAX Error: " + error);
                        }
                    });
                });
            });
            
        </script>
        <script>
            
            // reload testing starts----------------
            // (function()
            // {
            //   if( window.localStorage )
            //   {
            //     if(!localStorage.getItem('firstLoad')){
            //       localStorage['firstLoad'] = true;
            //       window.location.reload();
            //     }
            //     else
            //       localStorage.removeItem('firstLoad');
            //   }
            // })();
    
            // ==================================================================
            // window.onload = function() {
            //   if(!window.location.hash) {
            //     window.location = window.location + '#loaded';
            //     window.location.reload();
            //   }
            // }
            // ==========================================================
            // reload testing ends================
            // setTimeout('location.reload()', 60000)
            
            // b = diff(start, end)
            b = 1;
            document.addEventListener("DOMContentLoaded", function () {
                if (!Notification) {
                    alert("Desktop notifications not available in your browser. Try Chromium.");
                    return;
                }
                if (Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
            });
            if (b > "01:30") {
                if (Notification.permission == "denied") {
                    Notification.requestPermission();
                } else {
                    var user = document.getElementById("user").innerHTML;
                    var notification = new Notification("Team Onwords", {
                        icon: "/static/images/mainLogo.png",
                        body: "Hey " + user + " you may be busy at your work to update workdone, Kindly Update your workdone and continue your work",
                    });
                    // notification.onclick = function () {
                    //   window.open('http://stackoverflow.com/a/13328397/1269037');
                    // };
                }
            }
            // var fname = document.getElementById("workDone");
            // fname.addEventListener("input", () => {
            //   if (fname.validity.tooLong || fname.validity.tooShort || fname.validity.valueMissing) {
            //     fname.setCustomValidity("Describe your workdone in detail!");
            //     fname.reportValidity();
            //   } else { fname.setCustomValidity(""); }
            // });
        </script>
</body>

</html>