{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/pr.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- chart js start  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- chart js end -->
    <title>adminconsole</title>
</head>

<body>
    <div class="main-con ">
        <div class="nav-con " onclick="navcon()">
            <nav class="px-2">
                <div class="container-fluid p-0 m-0">
                    <div class="navlistlogo">
                        <div class="left-nav-list">
                            <div class="menu-icon">
                                <img src="{% static 'images/nav-icon/small-icon.png' %}" alt="small_Icon"
                                    class="small-logo">
                                <img src="{% static 'images/close.png' %}" alt="menu_Icon" class="close-icons">
                            </div>
                        </div>
                        <div class="right-nav-list">
                            <img src="{% static 'images/nav-icon/main-log.svg' %}" alt="small_Icon" class="main-logo">
                        </div>
                    </div>
                    <div class="user-profile">
                        <li class="user-visual">
                            <div class="left-nav-list"> <img src="{% static 'images/menu.png' %}" alt="menu_Icon"
                                    class="menu-icons"></div>
                            <div class="right-nav-list">
                                <div class="user-profiles">
                                    <div class="user-img">
                                        {%if profile%}
                                        <img src="{{profile}}" alt="user-profile">
                                        {%else%}
                                        <img src="{% static 'images/user-profile.svg' %}" alt="user-profile">
                                        {%endif%}
                                    </div>
                                    <div class="emply-id">
                                        <span>{{ name }}</span><br>
                                        <span>{% if dep == "WEB" %}
                                            <p>Web Developer</p>
                                            {% elif dep == "APP" %}
                                            <p>App developer</p>
                                            {% elif dep == "MEDIA" %}
                                            <p>Graphic designer</p>
                                            {% elif dep == "PR" %}
                                            <p>PR</p>
                                            {% elif dep == "RND" %}
                                            <p>R&D</p>
                                            {% else %}
                                            <p>Admin</p>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                    <ul id="nav-main-con">
                        <li class="navlistmenu " onclick="location.href='/'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/dashboard.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Home</h5>
                            </div>
                        </li>
                        {% if general %}
                        <li class="navlistmenu " onclick="location.href='/leave_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/forms-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Leave Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/late_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/late-icons.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Late Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu navlistmenu " onclick="location.href='/suggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/suggestion.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Suggestion</h5>
                            </div>
                        </li>
                        {% endif %}

                        <!-- ===========tl's============================ -->
                        {% if approvalpage %}
                        <li class="navlistmenu" onclick="location.href='/approval'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/approval.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Approval</h5>
                            </div>
                        </li>

                        {% endif %}

                        {% if rnd %}

                        <li class="navlistmenu " onclick="location.href='/inprocess'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/inprocess.svg' %}" alt="inprocess_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>In Process</h5>
                            </div>
                        </li>
                        <li class="navlistmenu " onclick="location.href='/create'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create-product.svg' %}" alt="inprocess_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Product</h5>
                            </div>
                        </li>

                        {% endif %}
                      
                        {% if account %}
                        <li class="navlistmenu" onclick="location.href='/financial'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/financial-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Financial</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if createlead %}
                        <li class="navlistmenu " onclick="location.href='/create_lead'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create_lead.svg' %}" alt="create_lead">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Lead</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if customerdetails %}
                        <li class="navlistmenu " onclick="location.href='/customer_details'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/customer-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Customer Details</h5>
                            </div>
                        </li>
                        {% endif %}
                       
                        {% if quotation %}
                        <li class="navlistmenu" onclick="location.href='/quotation'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/invoice.png' %}" alt="quottaion_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Quotation</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if inventory %}
                        <li class="navlistmenu navlistmenu-active" onclick="location.href='/inventorymanagement'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/invoice.png' %}" alt="inventory_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Inventory</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if createstaff %}
                        <li class="navlistmenu " onclick="location.href='/createstaff'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create-staff.svg' %}" alt="createstaff_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Staff</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if viewworkmanager %}
                        <li class="navlistmenu" onclick="location.href='/viewworkmanager'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/viewworkmanager.svg' %}" alt="createstaff_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>View Workmanager</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if viewsuggestion %}
                        <li class="navlistmenu " onclick="location.href='/viewsuggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/viewsuggestion.svg' %}" alt="userdata_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>View Suggestion</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if userdata %}
                        <li class="navlistmenu " onclick="location.href='/userdata'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/userdata.svg' %}" alt="userdata_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>User Data</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if prdashboard %}
                        <li class="navlistmenu " onclick="location.href='/prdashboard'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/prdashboard.svg' %}" alt="userdata_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>PR Dashboard</h5>
                            </div>
                        </li>
                        {% endif %}

                        <!-- =========================== -->

                    </ul>
                    <div class="logout" onclick="location.href='/logout/'">
                        <li class="navlistmenu">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/logout-icon.svg' %}" alt="dashboard_Icon"
                                        class="logout-icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Logout</h5>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>

        <div class="right-con " id="rightCon" onclick="rightcon()">
            <div class="container-fluid">
                <div class="product-nav cmo-nav my-3">
                    <h5 class="  active-inv  li-inventry" onclick="productBtn()" id="pro-nav">Product
                    </h5>
                    <h5 class=" li-inventry" onclick="updateBtn()" id="update-nav">Updates</h5>
                    <h5 class=" li-inventry" onclick="adminBtn()" id="admin-nav">Adminpoints</h5>
                    <h5 class=" li-inventry" onclick="prpercBtn()" id="prper-nav">PR percentage Dashboard</h5>

                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <!-- <span id="choose-the name">
                            <h5>Choose the name <span><input class="cmo-input" type="text"></span> </h5>
                        </span> -->

                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-2 my-3">
                        <h4 class=" primary-button Calculate-cmo" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            id="calculate-Btn" onclick="calInpBox()">Calculate
                            Point
                        </h4>
                    </div>
                    <div class="col-md-2 my-3">
                        <h4 class="primary-button Calculate-cmo" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop " id="addBtn" onclick="addInpBox()">Add Product</h4>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content calculate">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <h4 class="cmo-h">Calculate Point</h4>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="cal-point" id="cal-point">
                                    <form action="">

                                        <input type="text" placeholder="Calculate Point">
                                        <input type="text" placeholder="Count">
                                        <button class="primary-button">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content product">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    <h4 class="cmo-h">Add Product</h4>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="addpoint-table" id="add-point">
                                    <form action="/inventorymanagement/" method="post">
                                        {%csrf_token%}
                                        <input type="text" name="id" placeholder="Produt Id">
                                        <input type="text" name="name" placeholder="Product Name">
                                        <input type="text" name="obc" placeholder="OBC">
                                        <input type="number" name="min_price" placeholder="Minimum Price">
                                        <input type="number" name="max_price" placeholder="Maximum Price">
                                        <input type="number" name="stock" placeholder="Stock">
                                        <button type="submit" class="primary-button" name="update">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-table" id="product-table">
                    <table class="table">
                        <thead class="product-table-head">
                            <tr>
                                <th>S.No</th>
                                <th>Product Id</th>
                                <th>Max Price</th>
                                <th>Min Price</th>
                                <th>Name</th>
                                <th>Obs</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody class="table my-3">
                            {%for sno,x in allinventory%}
                            <tr class="product-details">
                                <td>{{sno}}</td>
                                <td>{{x.id}}</td>
                                <td>{{x.max_price}}</td>
                                <td>{{x.min_price}}</td>
                                <td>{{x.name}}</td>
                                <th>{{x.obc}}</th>
                                <td>{{x.stock}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

                <div class="update-table" id="update-table">
                    <table class=" table">
                        <thead class="product-table-head">
                            <tr>
                                <th>S.No</th>
                                <th>Product Id</th>
                                <th>Max Price</th>
                                <th>Min Price</th>
                                <th>Name</th>
                                <th>OBC</th>
                                <th>Stock</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody class="table my-3">
                            {%for sno,y in allinventory2%}
                            <!-- <h2>{{x.id}}</h2> -->
                            <!-- <form action="/inventorymanagement/" method="post"> -->
                                <tr class="product-details">
                                    <td>{{sno}}</td>
                                    <td>{{y.id}}</td>
                                    <td>{{y.max_price}}</td>
                                    <td>{{y.min_price}}</td>
                                    <td>{{y.name}}</td>
                                    <td>{{y.obc}}</td>
                                    <td>{{y.stock}}</td>
                                    <!-- <td>{{sno}}</td> -->
                                    <!-- <td><input type="text" name="id" value="{{y.id}}"></td>
                                    <td><input type="text" name="max_price" value="{{y.max_price}}"></td>
                                    <td><input type="text" name="min_price" value="{{y.min_price}}"></td>
                                    <td><input type="text" name="name" value="{{y.name}}"></td>
                                    <td><input type="text" name="obc" value="{{y.obc}}"></td>
                                    <td><input type="text" name="stock" value="{{y.stock}}"></td> -->
                                    <td><button class="primary-button-update" name="update" value="update"><img src="{% static 'images/nav-icon/del-iocn.svg' %}" alt="del" class="img-fluid"></button></td>
                                </tr> 
                            <!-- </form> -->
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="admin-points " id="admin-points">
                    <div class="adminpoints-nav ">
                        <span>
                            <h5 class="up-cmo">Name <span><input class="cmo-input" type="text"></span> </h5>
                        </span>
                        <span>
                            <h5 class="up-cmo">Points <span><input class="cmo-input" type="text"></span> </h5>
                        </span>
                        <span>
                            <h5 class="up-cmo">Total Points <span><input class="cmo-input" type="text"></span> </h5>
                        </span>
                        <span>
                            <h5 class="up-cmo">Pr Total <span><input class="cmo-input" type="text"></span> </h5>
                        </span>
                        <span>
                            <h5 class="up-cmo">Target Total <span><input class="cmo-input" type="text"></span> </h5>
                        </span>
                        <h5><button type="submit" class="primary-button">Submit</button></h5>
                    </div>
                    <div class="adminpoints-nav-con my-3">
                        <table class="table">
                            <thead class="product-table-head">
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Points</th>
                                    <th>Total Points</th>
                                    <th>Pr Total</th>
                                    <th>Target Total</th>
                                </tr>
                            </thead>
                            <tbody class="table my-3">
                                <tr class="product-details">
                                    <td>1</td>
                                    <td>Arun Kumar</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>100</td>
                                    <td>408</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="pr-percentage-dashboard " id="prdashboard">
                    <div class="product-nav cmo-nav" id="">
                        <h5 class=" active-inv  li-inventry" id="notipanl-Btn" onclick="notipanel()">Notification
                            Pannel</h5>
                        <h5 class=" li-inventry" id="install-Btn" onclick="installation()">Instalation</h5>
                        <h5 class=" li-inventry" id="weekly-Btn" onclick="target()">Weekly Target</h5>
                    </div>
                    <center>
                        <div class="installation-pending" id="firstline-Btn">
                            <h5>Firstline</h5>
                            <input type="number" name="" id="">
                            <button class="primary-button">submit</button>
                        </div>
                    </center>
                    <center>
                        <div class="installation-pending" id="target-Btn">
                            <h5>Target Point</h5>
                            <input type="number" name="" id="">
                            <button class="primary-button">submit</button>
                        </div>
                    </center>
                    <center>
                        <div class="installation-pending" id="pending-Btn">
                            <h5>pending installation</h5>
                            <input type="number" name="" id="">
                            <input type="number" name="" id="">
                            <button class="primary-button">submit</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>

        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- js script  start -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <!-- js script  end -->


</body>

</html>