{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>

<body>

    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{%static 'images/onwords-logo.svg'%}" alt="onwords logo">
                </span>
                <div class=" toggle">
                    <!-- <i class="fa-solid fa-arrow-right"></i> -->
                </div>
            </div>

        </header>
        <div class="emp-img">
            <img src="{%static 'images/che.webp'%}" alt="emp pic">
            <h6>GOkila</h6>
            <p>web dev</p>
        </div>

    </nav>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{%static 'js/nav.js'%}"></script>
</body>

</html>