{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- chart js start  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- chart js end -->
    <title>adminconsole</title>
</head>

<body>
    <div class="main-con ">
        <div class="nav-con " onclick="navcon()">
            <nav class="px-2">
                <div class="container-fluid p-0 m-0">
                    <div class="navlistlogo">
                        <div class="left-nav-list">
                            <div class="menu-icon">
                                <img src="{% static 'images/nav-icon/small-icon.png' %}" alt="small_Icon"
                                    class="small-logo">
                                <img src="{% static 'images/close.png' %}" alt="menu_Icon" class="close-icons">
                            </div>
                        </div>
                        <div class="right-nav-list">
                            <img src="{% static 'images/nav-icon/main-log.svg' %}" alt="small_Icon" class="main-logo">
                        </div>
                    </div>
                    <div class="user-profile">
                        <li class="user-visual">
                            <div class="left-nav-list"> <img src="{% static 'images/menu.png' %}" alt="menu_Icon"
                                    class="menu-icons"></div>
                            <div class="right-nav-list">
                                <div class="user-profiles">
                                    <div class="user-img">
                                        <img src="{% static 'images/user-profile.svg' %}" alt="user-profile">
                                    </div>
                                    <div class="emply-id">
                                        <span>Vinith</span><br>
                                        <span>ID:WD002</span><br>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                    <ul id="nav-main-con">
                        <li class="navlistmenu" onclick="location.href='/ithome'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/dashboard.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>dashboard</h5>
                            </div>
                        </li>
                        <li class="navlistmenu " onclick="location.href='/leave_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/forms-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Leave Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu navlistmenu-active" onclick="location.href='/late_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/late-icons.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Late Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/suggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/suggestion.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Suggestion</h5>
                            </div>
                        </li>

                    </ul>
                    <div class="logout" onclick="location.href=''">
                        <li class="navlistmenu">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/logout-icon.svg' %}" alt="dashboard_Icon"
                                        class="logout-icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Logout</h5>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="right-con " id="rightCon" onclick="rightcon()">

            <div class="container" onclick="lateform()">
                <div class="forms-con" >
                    <p class="active-form-late" id="lateBtn">Late Entry</p>
                    <p class="" id="lateHistoryBtn">History</p>
                </div>

                <div id="late_con">
                    <div class="leave-form-con">
                        <div class="leave-list">
                            <form action="" class=" leave-frm">
                                <label for="from">Date</label>
                                <div class="form-inp-con">
                                    <input type="date" id="from" placeholder="From">
                                    <img src="{% static 'images/date-set.png' %}" alt="date-icpn">
                                </div>

                                <label for="to">Workdone</label>
                                <div class="form-inp-con">
                                    <input type="text" id="from" placeholder="Enter your Workdone">
                                </div>
                                <div class="main-leave-con">
                                    <div class="">
                                        <label for="starttime">From</label><br>
                                        <div class="time-inp">
                                            <input type="time" id="starttime">
                                        </div>
                                    </div>
                                    <div class="">
                                        <label for="endtime">To</label><br>
                                        <div class="time-inp">
                                            <input type="time" id="endtime">
                                        </div>
                                    </div>
                                </div>
                                <label for="to">Reason</label>
                                <div class="form-inp-con">
                                    <input type="text" id="from" placeholder="Reason">
                                </div>
                                <button class="primary-button">Submit</button>
                            </form>
                        </div>
                        <div class="leave-img">
                            <img src="{% static 'images/leave-frm-img.svg' %}" alt="leave-form" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="leave-history" id="lateHistory">

                    <table class="table">
                        <thead>
                            <tr class="leave-table-head">
                                <th>Date</th>
                                <th>Workdone</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-body-li my-3">
                                <td>09/08/2023</td>
                                <td>Personal Work</td>
                                <td>Approved<img src="{% static 'images/approved-tick.png' %}" alt="approve-icon"
                                        class="img-fluid table-icon"></td>
                                <td>Kavin</td>
                            </tr>
                            <tr class="table-body-li">
                                <td>09/08/2023</td>
                                <td>Personal Work</td>
                                <td>Declined <img src="{% static 'images/decline-icon.png' %}" alt="decline-icon"
                                        class="img-fluid table-icon"></td>
                                <td>Kavin</td>
                            </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- js script  start -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- js script  end -->
 
</body>

</html>