{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- chart js start  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- chart js end -->
    <title>adminconsole</title>
</head>

<body>
    <div class="main-con ">
        <div class="nav-con " onclick="navcon()">
            <nav class="px-2">
                <div class="container-fluid p-0 m-0">
                    <div class="navlistlogo">
                        <div class="left-nav-list">
                            <div class="menu-icon">
                                <img src="{% static 'images/nav-icon/small-icon.png' %}" alt="small_Icon"
                                    class="small-logo">
                                <img src="{% static 'images/close.png' %}" alt="menu_Icon" class="close-icons">
                            </div>
                        </div>
                        <div class="right-nav-list">
                            <img src="{% static 'images/nav-icon/main-log.svg' %}" alt="small_Icon" class="main-logo">
                        </div>
                    </div>
                    <div class="user-profile">
                        <li class="user-visual">
                            <div class="left-nav-list"> <img src="{% static 'images/menu.png' %}" alt="menu_Icon"
                                    class="menu-icons"></div>
                            <div class="right-nav-list">
                                <div class="user-profiles">
                                    <div class="user-img">
                                        <img src="{% static 'images/user-profile.svg' %}" alt="user-profile">
                                    </div>
                                    <div class="emply-id">
                                        <span>{{ name }}</span><br>
                                        <span>{% if dep == "WEB" %}
                                            <p>Web Developer</p>
                                            {% elif dep == "APP" %}
                                            <p>App developer</p>
                                            {% elif dep == "MEDIA" %}
                                            <p>Graphic designer</p>
                                            {% elif dep == "PR" %}
                                            <p>PR</p>
                                            {% elif dep == "RND" %}
                                            <p>R&D</p>
                                            {% else %}
                                            <p>Admin</p>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                    <ul id="nav-main-con">
                        <li class="navlistmenu " onclick="location.href='/'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/dashboard.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Home</h5>
                            </div>
                        </li>
                        {% if general %}
                        <li class="navlistmenu" onclick="location.href='/leave_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/forms-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Leave Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/late_form'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/late-icons.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Late Form</h5>
                            </div>
                        </li>
                        <li class="navlistmenu" onclick="location.href='/suggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/suggestion.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Suggestion</h5>
                            </div>
                        </li>
                        {% endif %}

                        <!-- ===========tl's============================ -->
                        {% if approvalpage %}
                        <li class="navlistmenu navlistmenu-active" onclick="location.href='/approval'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/approval.png' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Approval</h5>
                            </div>
                        </li>

                        {% endif %}

                        {% if rnd %}

                        <li class="navlistmenu " onclick="location.href='/inprocess'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/inprocess.svg' %}" alt="inprocess_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>In Process</h5>
                            </div>
                        </li>
                        <li class="navlistmenu " onclick="location.href='/create'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create-product.svg' %}" alt="inprocess_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Product</h5>
                            </div>
                        </li>

                        {% endif %}
                      
                        {% if account %}
                        <li class="navlistmenu " onclick="location.href='/financial'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/financial-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Financial</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if createlead %}
                        <li class="navlistmenu " onclick="location.href='/create_lead'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create_lead.svg' %}" alt="create_lead">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Lead</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if customerdetails %}
                        <li class="navlistmenu " onclick="location.href='/customer_details'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/customer-icon.svg' %}" alt="dashboard_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Customer Details</h5>
                            </div>
                        </li>
                        {% endif %}
                       
                        {% if quotation %}
                        <li class="navlistmenu" onclick="location.href='/quotation'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/invoice.png' %}" alt="quottaion_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Quotation</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if inventory %}
                        <li class="navlistmenu" onclick="location.href='/inventorymanagement'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/invoice.png' %}" alt="inventory_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Inventory</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if createstaff %}
                        <li class="navlistmenu" onclick="location.href='/createstaff'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/create-staff.svg' %}" alt="createstaff_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Create Staff</h5>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if viewworkmanager %}
                        <li class="navlistmenu" onclick="location.href='/viewworkmanager'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/viewworkmanager.svg' %}" alt="createstaff_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>View Workmanager</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if viewsuggestion %}
                        <li class="navlistmenu" onclick="location.href='/viewsuggestion'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/viewsuggestion.svg' %}" alt="userdata_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>View Suggestion</h5>
                            </div>
                        </li>
                        {% endif %}

                        {% if userdata %}
                        <li class="navlistmenu" onclick="location.href='/userdata'">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/userdata.svg' %}" alt="userdata_Icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>User Data</h5>
                            </div>
                        </li>
                        {% endif %}

                        <!-- =========================== -->

                    </ul>
                    <div class="logout" onclick="location.href='/logout/'">
                        <li class="navlistmenu">
                            <div class="left-nav-list">
                                <div class="menu-icon">
                                    <img src="{% static 'images/nav-icon/logout-icon.svg' %}" alt="dashboard_Icon"
                                        class="logout-icon">
                                </div>
                            </div>
                            <div class="right-nav-list">
                                <h5>Logout</h5>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="right-con " id="rightCon" onclick="rightcon()">

            <div class="container-fluid">
                <div class="" onclick="approvalpage()">
                    <div class="forms-con">
                        <p class="" id="leaveApprovalBtn" onclick="location.href='/leaveapproval/'">leave
                            Approval</p>
                        <p class="active-form-li" id="lateApprovalBtn" onclick="location.href='/lateapproval/'">Late Approval</p>
                    </div>
                    <div class="" >
                        <div>
                            <table class="table">
                                <thead>
                                    <tr class="leave-table-head">
                                        <th>Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Time</th>
                                        <th>Name</th>
                                        <th>Workdone</th>
                                        <th>Work Percentage</th>
                                        <th>Reason</th>

                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for year, month, date, all in allList %}
                                    <tr class="table-body-li my-3">
                                        <form action="/submitaction/" method="post">{% csrf_token %}
                                            <td>{{date}}</td><input type="hidden" name="_date" value="{{date}}">
                                            <input type="hidden" name="_month" value="{{month}}">
                                            <input type="hidden" name="_year" value="{{year}}">
                                            <td>{{all.from}}</td><input type="hidden" name="_from" value="{{all.from}}">
                                            <td>{{all.to}}</td><input type="hidden" name="_to" value="{{all.to}}">
                                            <td>{{all.time_in_hours}}</td><input type="hidden" name="_time_in_hours"
                                                value="{{all.time_in_hours}}">
                                            <td>{{all.name}}</td><input type="hidden" name="_name" value="{{all.name}}">

                                            <td>{{all.workDone}}</td><input type="hidden" name="_workDone"
                                                value="{{all.workDone}}">
                                            <td>{{all.workPercentage}}</td><input type="hidden" name="_workPercentage"
                                                value="{{all.workPercentage}}">
                                            <td>{{all.reason}}</td><input type="hidden" name="_reason"
                                                value="{{all.reason}}">
                                            <td>
                                                <button class="btn btn-success" name="approved">Approved <img
                                                        src="{% static 'images/approved-tick.png' %}" alt="approve-icon"
                                                        class="img-fluid table-icon"></button>
                                                <button class="btn btn-danger" name="declined">Decline <img
                                                        src="{% static 'images/decline-icon.png' %}" alt="approve-icon"
                                                        class="img-fluid table-icon"></button>
                                            </td>
                                        </form>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                 

                </div>
            </div>

        </div>
    </div>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- js script  start -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- js script  end -->

</body>

</html>

<!-- 

 -->